# temp
tempfold/
tempfold2/

# media
*.mp4
*.avi
*.mov
*.wav
*.mp3

# documents
*.pdf
*.docx

# cache
__pycache__/
*.pyc

# vscode
.vscode/

# virtual env
venv/
env/

# pytorch
*.pth
*.pt

# logs
*.log